.CartModal{
    display: flex;
    width: 800px;
    height: auto;
    background: #FFFEFC;
    border-radius: 25px;
}

.cartModal{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.cartModalHeader{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.cartModalHeader p{
    font-family: 'M PLUS 1p';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    color: #000000;
}

.closeModalButton{
    font-family: 'Jua';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: #6E6E6E;
    border: none;
    background: none;
    transition: 0.3s;
}

.closeModalButton:hover{
    color: #FF8B8B;
}

.cartModalList{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
    overflow: auto;
    width: 100%;
    height: 500px;
    padding: 10px;
    overflow-x: hidden;
}

.cartModalFooter{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.continueShopping{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 40px;
    background: linear-gradient(168.5deg, #E8E8E8 -18%, #C6C4C4 136.97%);
    border-radius: 5px;
    font-family: 'M PLUS 1p';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #3E77BB;
    border: none;
    cursor: pointer;
}

.continueShopping:hover{
    color: #4096E3;
    background: linear-gradient(168.5deg, #dddcdc -18%, #cfcece 136.97%);
}

.buyProductsDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 12px;
    background: rgba(255, 210, 148, 0.3);
    border: 2px solid #FFCF8E;
    border-radius: 10px;
}

.sumPrice{
    font-family: 'M PLUS 1p';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    color: #000000;
}

.buyFromCartButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(178.24deg, #FFDCAB -28.71%, #FFB34E 125.21%);
    border-radius: 5px;
    font-family: 'M PLUS 1p';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    width: 180px;
    height: 50px;
    cursor: pointer;
}

.buyFromCartButton:hover{
    background: linear-gradient(178.24deg, #FFE8C7 -28.71%, #FFC67B 125.21%);
}