.AboutUs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* background: white url(https://malenka-pekarnia.com/img/love/bg.jpg) 50% 50% no-repeat; */
    background: white url(../../../../../public/img/aboutus.jpg) 50% 50% no-repeat;

    background-size: cover;
    background-position: center;
    padding: 0px;
    min-height: 125vh;
}

.aboutUsContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.aboutUsTitle{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    color: #000000;
}

.aboutUsList{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
    padding: 35px;
    width: 85%;
    position: relative;
}

.aboutUsListHelpDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 100px;
}


@media (max-width: 620px) {
    .aboutUsList{
        flex-direction: column;
        min-height: 150vh;
        justify-content: center;
        gap: 30px;
    }

    .aboutUsListHelpDiv{
        gap: 30px;
    }

    
}

@media (max-width: 740px) {
    .aboutUsTitle{
        font-size: 48px;
    }
}

@media (max-width: 480px) {
    .aboutUsTitle{
        font-size: 36px;
    }
}