.AboutUsCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 400px;
}

.aboutUsCardInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 20px 20px 50px; */
    width: 100%;
    /* padding-top: 45px; */
    /* height: calc(auto + 4500); */
    background: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    margin: -40px 0px;
    padding: 20px 20px 50px;

}

.aboutUsCardTitle{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.aboutUsCardDescription{
    font-family: 'Jura';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #4B4242;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.aboutUsCardImg{
    /* position: absolute; */
    width: 90px;
    height: 90px;
}


@media (max-width: 1100px) {
    .AboutUsCard{
        width: 300px;
    }

    .aboutUsCardTitle{
        font-size: 26px;
    }

    .aboutUsCardDescription{
        font-size: 18px;
    }

    .aboutUsCardImg{
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 810px) {
    .AboutUsCard{
        width: 250px;
    }

    .aboutUsCardTitle{
        font-size: 24px;
    }

    .aboutUsCardDescription{
        font-size: 14px;
    }

    .aboutUsCardImg{
        width: 45px;
        height: 45px;
    }
}

@media (max-width: 680px) {
    .AboutUsCard{
        width: 200px;
    }

    .aboutUsCardTitle{
        font-size: 22px;
    }

    .aboutUsCardDescription{
        font-size: 12px;
    }

    .aboutUsCardImg{
        width: 35px;
        height: 35px;
    }
}

@media (max-width: 620px) {
    .AboutUsCard{
        margin: 8px;
    }
}