.FullHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: white url(../../../../public/img/bg-header.png) 50% 50% no-repeat;
    background-size:cover;
}

.navigationDiv{
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    flex-direction: row;
    width: 100%;
}

.navigationButtons{
    padding: 10px;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigationButtons button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
}

.navigationButtons button p{
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    color: rgba(221, 198, 133, 1);
    text-shadow: 0px 0px 30px rgba(221, 198, 133, 1);
}

.navigationButtons button p:hover{
    color: rgb(236, 216, 161);
    text-shadow: 0px 0px 35px rgba(255, 255, 255, 0.7);
}



.logoDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.mainLogo{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.mainLogo img{
    width: 500px;
}

.mainLogo p{
    box-sizing: border-box;
    position: relative;
    font-family: 'Mastering';
    /* font-style: normal; */
    /* font-weight: 800; */
    font-size: 96px;
    text-align: center;
    color: rgba(221, 198, 133, 1);
    text-shadow: 0px 0px 30px rgba(144, 68, 78, 0.4);
}

.infoDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.infoDiv p{
    font-family: 'Jura';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: rgba(221, 198, 133, 1);
    text-shadow: 0px 0px 30px rgba(144, 68, 78, 0.4);
}

@media (max-width: 1050px) {
    .firstNavigationButton{
        flex-direction: column;
        align-items: start;
    }
    .navigationDiv{
        padding-left: 15px;
        padding-right: 15px;
    }
    .navigationButtons button p{
        font-size: 30px;
    }
    .FullHeader{
        padding: 10px;
    }
}

@media (max-width: 650px) {
    .infoDiv p{
        font-size: 25px;
    }

    .mainLogo p{
        font-size: 78px;
        margin-top: -44px;
    }

    .mainLogo img{
        width: 150px;
    }
}

@media (max-width: 500px) {
    .FullHeader{
        padding: 5px;
    }
    .navigationDiv{
        padding-left: 5px;
        padding-right: 5px;
    }
    .navigationButtons button p{
        font-size: 22px;
    }
}

@media (max-width:430px) {
    .navigationButtons button p {
        font-size: 19px;
    }
}